<div class="card">
    <div class="card-header">{{ name }}</div>
    <div class="card-body">
      <img src="{{ image }}" alt="{{ name }}" class="card-image">
      <div class="card-details">
        <div class="card-energy">Energy: {{ energy }}</div>
        <div class="card-price">Price: {{ price }}</div>
        <div class="card-type">Type: {{ type }}</div>
        <div class="card-race">Race: {{ race }}</div>
        <div class="card-description">{{ description }}</div>
      </div>
    </div>
  </div>