.cards-flex {
    width: 50%;
    height: 50%
}

.title-text {
    color: #000000;
}

.dialog {
    padding: 20px;
}

.button-text {
    margin-top: 20px;
}

.pop-up-button {
    align-items: right;
}
