<div class="dialog">
  <h2 mat-dialog-title class="title-text">Elegir Cartas</h2>
  <div class="form-flex">
    <mat-card>
      <h2 class = "title-text">Se han añadido estas 15 cartas a sus cartas.</h2>
      <div class="form-flex">
        <app-multiple-cards [cards]="cards"></app-multiple-cards>
      
      </div>
    </mat-card>
    
    <mat-card>
      <h2 class = "title-text">Elija una de estas tres cartas para añadir.</h2>
      <app-multiple-cards [cards]="clickableCards" [clickable]="true"></app-multiple-cards>
    </mat-card>
  </div>
  <div class="pop-up-button">
    <button type="submit" class="button-text" (click)="close()">Save</button>
  </div>
  
</div>