.form-signin{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.title-text {
    font-size: 2rem;
    font-family: 'Rajdhani-SemiBold';
    text-shadow: 2px 2px #000000;
    text-align: center;
  }