.card {
   
    width: 100px;
    height: 180px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border: solid 1px #0f0c16;
    text-align:justify;
    color: #ff93cf;
    border-radius: 10px;
    align-items: center;
    word-wrap: break-word;

}

.clickable-card {
   
    width: 100px;
    height: 180px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border: solid 1px #0f0c16;
    text-align:justify;
    color: #ff93cf;
    border-radius: 10px;
    align-items: center;
    word-wrap: break-word;

}

.clickable-card:hover {
    cursor: pointer;
    background: white;
    background-color: white;
    border: solid 2px #8ecaff;
    color: white;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
    0px 5px 8px 0px rgba(0,0,0,0.14),
    0px 1px 14px 0px rgba(0,0,0,0.12);

}

.form-input {
    background-color:  #ff93cf80;
    width: 100%;
}
.mat-card-title {
    font-size: 1rem;
    font-weight: bold;
    width: 170;
    color: #f0f0f0;
    
    
  
    
}

.mat-card-image {
    height: 60px;
    width: 60px;


    border-radius: 5px;
    border-radius: 10%;
    
    

}

.mat-card-content {
    padding-top: 2px;
    font-size: 0.5rem;
    color: black;
    background-color:  #ff93cf50;
    height: 80px;
    width: 90px;
    line-height: 0.8;
    border-radius: 10px;
    padding: 5px;

}

.mat-card-description {
    height: 50px;
    width: 50px;
    line-height: 0.4;
   

}