
  <div class="card">
    <mat-card class="card">
     
      
        <mat-card-title class="form-input">{{element.name}}</mat-card-title>
        <img class="mat-card-image" mat-card-image [src]="element.image" alt="card-image">
        <mat-card-content class="mat-card-content">
          <mat-label >
              {{element.description}} 
          </mat-label>
          <br><br>
          <p>
            <strong>Race:</strong> {{element.race}}
          </p>
            {{element.energy}} ⚡ {{element.price}} 💰 <strong>{{element.type}} </strong> 
          
        </mat-card-content>
     
        
     
    </mat-card>
  </div>


