
  <div class="card">
    <mat-card class="card">
      <mat-card-title class="form-input">{{name}}</mat-card-title>
      <img class="mat-card-image" mat-card-image [src]="image" alt="card-image">
      <mat-card-content class="mat-card-content">
        <mat-label >
            {{description}}
        </mat-label>
        <p>
          <strong>Type:</strong> {{type}} 
          <strong>Race:</strong> {{race}}
        </p>
        <p> 
          {{energy}} ⚡ {{price}} 💰
        </p>
      </mat-card-content>
    </mat-card>
  </div>


