<app-side-menu></app-side-menu>
<form >
    <div class="form-group">
        <label for="name">Nombre del Personaje</label>
        <input type="text" id="name" name="name" class="form-text">
    </div>
    <div class="form-group">
        <label for="description">Descripción del Personaje</label>
        <input type="text" id="description" name="description" class="form-text">
      </div>
      <div class="form-group">
        <label for="race">Raza</label>
        <input type="text" id="race" name="race" class="form-text">
    </div>
    <div class="form-group">
        <label for="energy">Energía</label>
        <input type="text" id="energy" name="energy" class="form-text">
    </div>
    <div class="form-group">
        <label for="price">Costo</label>
        <input type="text" id="price" name="price" class="form-text">
    </div>
    <div class="form-group">
        <label for="type">Tipo</label>
        <input type="text" id="type" name="type" class="form-text">
    </div>
    <div class="form-group">
        <label for="password">Insertar Imagen</label>
    </div>
    <button type="submit" class="button-text" (click)="goToLobby()">Crear Carta</button>
</form>
