.form-group {
    padding-top: 10vh;
    padding: 10px;
    font-size: 1.4rem;
    display: grid;
    justify-content: center;
    text-align: left;
}

.button-text {
    text-align: right;
    justify-content: right;
    justify-self: right;
}