<div class="box">
    <app-clickable-card class="app-card" [element]="card"></app-clickable-card>
    <form class="form-container">

        <div class="form-group">
            <mat-label class="form-text" for="name">Nombre del personaje: </mat-label>
            <input [formControl]="characterName" type="text" id="name" name="name" class="form-input"
                style="width: 300px;" placeholder="Nyan Cat" required>
            <br>
            <mat-error *ngIf="characterName.invalid  && fault">{{getErrMessage(characterName)}}</mat-error>

            <br>


            <div class="form-flex">
                <div class="form-group">
                    <mat-label class="form-text" for="race">Raza: </mat-label>
                    <select [formControl]="race" id="race" name="race" class="form-input"
                        style="width: 150px;" placeholder="Humano" required>
                        <option *ngFor="let race of races">
                            {{race}}
                        </option>
                    </select>
                    <br>
                    <mat-error *ngIf="race.invalid  && fault">{{getErrMessage(race)}}</mat-error>
                </div>
                <div class="form-group">
                    <mat-label class="form-text" for="type">Tipo: </mat-label>
                    <select [formControl]="type" id="type" name="type" class="form-input" placeholder="MR"
                        style="width: 150px;" required>
                        <option *ngFor="let type of types">
                            {{type}}
                        </option>
                    </select>
                    <br>
                    <mat-error *ngIf="type.invalid  && fault">{{getErrMessage(type)}}</mat-error>
                </div>
            </div>
            <br>
            <div class="form-flex">
                <div class="form-group">
                    <mat-label class="form-text" for="energy">Energía: </mat-label>
                    <input [formControl]="energy" type="number" id="energy" name="energy" class="form-input"
                        placeholder="100" style="width: 150px;" required>
                    <br>
                    <mat-error *ngIf="fault">{{getErrMessage(energy)}}</mat-error>
                </div>
                <div class="form-group">
                    <mat-label class="form-text" for="price">Costo: </mat-label>
                    <input [formControl]="price" type="number" id="price" name="price" class="form-input"
                        style="width: 150px;" placeholder="10000" required>
                    <br>
                    <mat-error *ngIf="price.invalid && fault">{{getErrMessage(price)}}</mat-error>
                </div>

            </div>
            <mat-label class="form-text" for="description"> Descripción del personaje: </mat-label>
            <textarea [formControl]="description" type="description" id="description" name="description"
                class="form-input" style="width: 300px;" style="height:100px;" resize="none"
                placeholder="Nyan Cat, or Pop-Tart Cat, 
        refers to a cartoon cat with a Pop-Tart body and a rainbow behind it, flying through space, set to the tune of a Japanese pop song." required></textarea>
            <br>
            <mat-error *ngIf="description.invalid && fault">{{getErrMessage(description)}}</mat-error>


            <mat-card class="form-text">
                <button class="form-text" class="image-text" #file mat-flat-button color="primary">Elegir Imagen
                    <input multiple (change)="onFileSelected($event)" 
                    style="opacity: 0; position:absolute; left:0px; top:0px; width:100%; height:100%;"  accept="image/png, image/jpg, image/jpeg" type="file"/>
                </button>
              
              </mat-card>


            <mat-error *ngIf="characterName.invalid  && fault">{{getErrMessage(characterName)}}</mat-error>

            <br>
        </div>
        <form #myForm="ngForm" (ngSubmit)="goToLobby()">
       
        
            <button type="submit" class = "button-text">Crear</button>
          </form>
    </form>
   
</div>