<div class="game">
    <label class="title-text"> {{currentUserName}} vs {{opponentName}}: Apuesta: {{bet}} monedas, Turno: {{turn}}/{{totalTurns}}, Tiempo restante: {{remainingTime}}s</label>
    <div class="flex-container">

        <div class="multiple-planets">
            <app-planet-cards class="app-planet" (planetClicked)="onPlanetClicked($event)" 
            [index]="0" [planet]="planets[0]" [cards]="cardsPerPlanet[0]"></app-planet-cards>
            <app-planet-cards class="app-planet" (planetClicked)="onPlanetClicked($event)" 
            [index]="1" [planet]="planets[1]" [cards]="cardsPerPlanet[1]"></app-planet-cards>
            <app-planet-cards class="app-planet" (planetClicked)="onPlanetClicked($event)" 
            [index]="2" [planet]="planets[2]" [cards]="cardsPerPlanet[2]"></app-planet-cards>
        </div>       

        <label class="title-text">Using deck: {{deckname}}</label>

        <div class="flex">
            <h4 class="deck-text"><p>Sus cartas:</p><p>{{remainingCards}} cartas</p>  </h4>
            <app-multiple-cards class="cards" [clickable]="true" [cards]="cards"></app-multiple-cards>
            <div class="grid">
                
                <button class="button-text">Apostar 2 monedas</button>
                <button (click)="onClickEndTurn()" class="button-text">Terminar turno</button>
                <button class="button-text">Rendirse</button>
            </div>
        </div>
    </div>
</div>