<div class="game">
    <label class="title-text"> {{currentUserName}} vs {{opponentName}}: Apuesta: {{bet}} monedas, Turno: {{turn}}/{{totalTurns}}, Tiempo restante: {{remainingTime}}s</label>
    <div class="flex-container">

        <div class="multiple-planets">
            <app-planet-cards class="app-planet" (planetClicked)="onPlanetClicked($event)" 
            [index]="0" [planet]="planets[0]" [cards]="cardsPerPlanet[0]" [opponentCards]="oponentCardsPerPlanet[0]"
            [currentUserName]="currentUserName" [opponentName]="opponentName" [currentUserPoints]="playerPointsPerPlanet[0]"
            [opponentPoints]="oponentPointsPerPlaner[0]"></app-planet-cards>
            <app-planet-cards class="app-planet" (planetClicked)="onPlanetClicked($event)" 
            [index]="1" [planet]="planets[1]" [cards]="cardsPerPlanet[1]" [opponentCards]="oponentCardsPerPlanet[1]"
            [currentUserName]="currentUserName" [opponentName]="opponentName" [currentUserPoints]="playerPointsPerPlanet[1]"
            [opponentPoints]="oponentPointsPerPlaner[1]"></app-planet-cards>
            <app-planet-cards class="app-planet" (planetClicked)="onPlanetClicked($event)" 
            [index]="2" [planet]="planets[2]" [cards]="cardsPerPlanet[2]" [opponentCards]="oponentCardsPerPlanet[2]"
            [currentUserName]="currentUserName" [opponentName]="opponentName" [currentUserPoints]="playerPointsPerPlanet[2]"
            [opponentPoints]="oponentPointsPerPlaner[2]"></app-planet-cards>
        </div>       
        <label class="title-text">Using deck: {{deckname}}</label>
        
        <mat-error class="title-text" *ngIf="EnergyFault"> Not enough energy</mat-error>
        <div class="flex">
            <h4 class="deck-text"><p>Su energía:</p><p>{{energy}}</p>  </h4>
            <app-multiple-cards class="cards" [clickable]="true" [cards]="cards"></app-multiple-cards>
            <div class="grid">
                
                <button class="button-text">Apostar 2 monedas</button>
                <button (click)="onClickEndTurn()" class="button-text">Terminar turno</button>
                <button class="button-text">Rendirse</button>
            </div>
        </div>
    </div>
</div>