<div class="game">
    <label class="title-text"> {{currentUserName}} vs {{opponentName}}: Apuesta: {{bet}} monedas, Turno: {{turn}}/{{totalTurns}}, Tiempo restante: {{remainingTime}}s</label>
    <div class="flex-container">
        <app-multiple-planet-cards [planets]="planets"></app-multiple-planet-cards>
        <div class="flex">
            <h4 class="deck-text"><p>Deck Name</p><p>{{remainingCards}} cartas</p>  </h4>
            <app-multiple-cards class="cards" [clickable]="true" [cards]="cards"></app-multiple-cards>
            <div class="grid">
                
                <button class="button-text">Apostar 2 monedas</button>
                <button (click)="onClickEndTurn()" class="button-text">Terminar turno</button>
                <button class="button-text">Rendirse</button>
            </div>
        </div>
    </div>
</div>