.image-container {
  
    justify-content: center;
    margin-bottom: 150px;
    width: 5vmin;
    height: 5vmin;
    
    
}

.form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem; 
    display: grid;
    justify-content: center;
    background-color: #2a556e;
}