.box {

    margin-left: -10px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin-top: 5vh;
}

.multiple-cards{
    display: flex;
  }

  .app-card{
    padding-right: 20px;

  }

  .app-card:hover{
    pointer-events: none;
    background: linear-gradient(to right, #4facfe, #00f2fe);
  }

  .title-text {
    font-size: 1.7rem;
  }
 