
<div>
    <mat-card class="card">
     
      
        <mat-card-title class="form-input">{{element.name}}</mat-card-title>
        
        <mat-card-content class="mat-card-content">
          
          <mat-label >
              {{element.description}} 
              {{element.type}}
          </mat-label>
          <br><br>
          <img class="mat-card-image" mat-card-image [src]="element.image" alt="card-image">
          
        </mat-card-content>
     
        
     
    </mat-card>
  </div>


