.multiple-cards{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 20px;
  }

  .multiple-cards-close{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 5px;
    }

    .app-card{
      padding: 5px;
     }

     .app-card-close{
      padding: 0px;
     }
 