.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 250px;
}

    .button-text {
      font-size: 4rem;
      background: #fe00be80;
      margin: 0px;
      font-family: 'Rajdhani-Bold';
    }
