.container {
    display: flex;
    
}

.title-text {

    background-color: #2a556e80;
    width: 33.33vw;
    text-align: right;
    font-size: 6rem;
    padding-top: 75vh;
    padding-right: 1vw;
    
    
}

.form-container {
    padding: 50px;
    text-align: right;
    font-size: 1.2rem;
    display: grid;
    justify-content: center;
    
    
}

