<mat-toolbar color="#251c36" class="example-toolbar">
    <button class="button-text" mat-icon-button  (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <img class="navbar-image" src="assets/images/logo.png" alt="logo"> <h1 class="form-text">Administrador</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" class="form-text" *ngIf="isExpanded || isShowing">Manejo de Cartas</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
                    *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                <a mat-list-item  class="sub-text" routerLink="/cards">Crear Carta <mat-icon mat-list-icon>view_carousel</mat-icon> </a>
                <a mat-list-item class="sub-text" href="...">Crear Deck <mat-icon mat-list-icon>view_module</mat-icon></a>
            </div>
        </mat-nav-list>
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" class="form-text" *ngIf="isExpanded || isShowing">Salir</span>
            </mat-list-item>
            
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>