.multiple-decks{
    display: grid;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    }

    .button-text{
        margin: 10px;
    }
  