.image-container {

    padding-top: 200px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;

}

.form-container {
    padding: 50px;
    width: fit-content;
    font-size: 2rem;
    display: grid;
    justify-content: center;
    background-color: #2a556e80;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
                0px 5px 8px 0px rgba(0,0,0,0.14),
                0px 1px 14px 0px rgba(0,0,0,0.12);

}

.container {
    display: grid;
    justify-content: center;
}