.image-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display:flex;
    justify-content: center; 
    size-adjust: 0rem;
}

.form-container {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.5rem; 
    display:flex;
    justify-content: center;
    background-color: #2a556e80;
}